@model PhoneCat.Web.Controllers.RegisterViewModel

<h3>Register New User</h3>

@using (Html.BeginForm("Register", "Authentication", FormMethod.Post, new { @class = "form-horizontal" }))
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary()
  <div class="form-group">
    <label for="Email" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placholder = "Name" })
    </div>
  </div>
  <div class="form-group">
    <label for="Email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placholder = "Email" })
    </div>
  </div>
  <div class="form-group">
    <label for="Password" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      @Html.PasswordFor(m => m.Password, new { @class = "form-control", placholder = "Password" })
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </div>
}
